@use "mixins" as *;

:root {
  --container-width: 1150px;
  --container-padding: 20px;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding)*2);
  margin-inline: auto;
  padding-inline: var(--container-padding);
}

.hidden {
  display: none !important;
}

body{
  &.no-scroll {
    overflow: hidden;
  }
}

@include breakpoint-tablet {
  :root {
    --container-width: 690px;
  }
}